.Post{
    margin: 10px;
    border: 1px solid black;
}

.OrderButton {
    background-color: #cfcd39;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 1px solid #272012;
    color: #13100c;
    font-family: inherit;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px #a18a57;
}

.OrderButton:hover, .OrderButton:active {
    border: 1px solid #8f7b51;
    color: #583d03;
}
.OrderButton:disabled {
    cursor: not-allowed;
    border: 1px solid rgb(233, 219, 219);
    color: #968383;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}